.main {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0085ff;
  scrollbar-width: thin;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-color: transparent transparent;
}
.main::-webkit-scrollbar {
  width: 10px;
}
.main::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}
.main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.mainStyle {
  background: #0085ff;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}


@font-face {
  font-family: "Education";
  src: url("/fonts/Education.ttf");
}
@font-face {
  font-family: "Louise";
  src: url("/fonts/Louise.ttf");
}

/* ------------------------ Appbar Style ------------------------*/

.appbarStyle {
  display: flex;
  height: 12vh;
  background: #0085ff;
  justify-content: center;
  animation: slideDown 2s ease-in-out;
}
.appbarLogoStyle {
  font-family: "Education";
  position: absolute;
  color: #ffff;
  text-align: Left;
  font-size: 35px;
  font-weight: 800;
  animation: pop-up 2s ease-in-out forwards;
}

/* ------------------------ Banner Style ------------------------*/

.bannerStyle {
  height: 100vh;
}
.bannerImageStyle {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.overlayStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,133,159);
  background: linear-gradient(70deg, rgb(0 0 0 / 95%) 2%, rgb(0 22 33 / 72%) 56%);
}
.bannerTextPrimaryStyle {
  font-family: "Education";
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 1;
  color: #ffff;
  text-align: Left;
  font-size: 50px;
  font-weight: 800;
  animation: pop-up 2s ease-in-out forwards;
}
.bannerTextSecondaryStyle {
  font-family: "Education";
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1;
  color: #ffff;
  text-align: Left;
  font-size: 50px;
  font-weight: 800;
  animation: pop-up 2s ease-in-out forwards;
}
.bannerTextSubtitleStyle {
  font-family: "Louise";
  position: absolute;
  top: 60%;
  left: 5.2%;
  z-index: 1;
  color: #ffff;
  text-align: Left;
  font-size: 18px;
  animation: pop-up 2s ease-in-out forwards;
}

/*-------------------------- top article style --------------------*/

.topArticleBoxStyle {
  min-height: 110vh;
  justify-content: center;
  background: #0085ff;
}
.topArticleLineStyle {
  position: absolute;
  width: 100%;
  height: 170px;
  margin-top: -9.3%;
  z-index: 1;
  animation: slideUp 2s ease-in-out;
}
.topArticlePaperStyle {
  height: 14vh;
  background: #0085ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articleCarouselStyle {
  margin-top: 8%;
  margin-left: 3%;
  border-radius: 8px;
}
.articleImgCarouselStyle {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.overlayCarouselStyle {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 133, 159, 0.659);
  background: linear-gradient(70deg, rgba(0, 0, 0, 0.221) 2%, rgba(0, 22, 33, 0.388) 56%);
}
.topArticleStyle {
  margin-top: 8%;
  width: 95%;
  margin-left: 3%;
  border-radius: 8px;
}
.topArticleTitleStyle {
  font-family: "Education";
  position: relative;
  margin-top: 30%;
  text-align: center;
  z-index: 1;
  color: #ffff;
  font-size: 35px;
  font-weight: 750;
}
.topArticleTextPrimaryStyle {
  font-family: "Louise";
  position: absolute;
  margin-top: 20%;
  margin-left: 8%;
  z-index: 1;
  color: #ffff;
  font-size: 35px;
  font-weight: 750;
}
.topArticleTextSecondaryStyle {
  font-family: "Louise";
  position: absolute;
  margin-top: 35%;
  margin-left: 8%;
  z-index: 1;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
}
.topArticleGridStyle {
  display: flex;
  height: 425px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2px;
}
.articleTextDescriptioneStyle {
  font-family: "Louise";
  position: absolute;
  width: 44%;
  color: #000000;
  text-align: left;
  font-size: 18px;
}
.buttonSearchStyle {
  position: relative;
  width: 10px;
  left: 50%;
  margin-top: -7.5%;
}
.articleDetailBoxStyle {
  min-height: 120vh;
  margin-top: 10%;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 1%;
}
.articleDetailImagePageStyle {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-left: 2%;
  z-index: 1;
  border-radius: 8px;
}
.articleDetailTextTitleStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  margin-top: 8%;
}
.articleDetailTextSubtitleStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 3%;
}
.articleDetailTextDescriptionStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 14px;
  margin-top: 3%;
  margin-bottom: 8%;
}

.articleTextTitleStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  margin-top: 8%;
}
.articleTextSubtitleStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  margin-top: 3%;
}
.articleTextDescriptionStyle {
  font-family: "Louise";
  margin-left: 5%;
  width: 80%;
  font-size: 14px;
  margin-top: 3%;
  margin-bottom: 8%;
}

/* -------------------- All Article Style ------------- */

.newArticleBoxStyle {
  height: 150vh;
  justify-content: center;
  background: #ffffff;
}
.newArticleResultBoxStyle {
  min-height: 120vh;
  margin-top: 10%;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 1%;
}
.newArticleLineStyle {
  position: absolute;
  width: 100%;
  height: 170px;
  margin-top: -11%;
  z-index: 1;
}
.newArticlePaperStyle {
  height: 14vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.newArticleTextPrimaryStyle {
  font-family: "Education";
  position: relative;
  margin-top: 35%;
  text-align: center;
  z-index: 1;
  color: #0085ff;
  font-size: 35px;
  font-weight: 750;
}
.newArticleTextSecondaryStyle {
  font-family: "Louise";
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  color: #ffff;
  font-size: 18px;
  font-weight: 600;
}
.newArticleCardBoxStyle {
  background: #e8e6e300;
  display: flex;
  position: relative;
  gap: 20px;
  margin-left: 2%;
}
.newArticleCardStyle {
  background: rgb(0 154 255);
  margin-bottom: 20px;
  width: 280px;
  height: 280px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.newArticleLinkStyle {
  font-family: "Education";
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1.2px;
}
.newArticleDescriptionStyle {
  font-family: "Louise";
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

/* ------------------------ Footer Style ------------------------*/


.footerBoxStyle {
  min-height: 30vh;
  justify-content: center;
}
.footerPaperStyle {
  height: 50vh;
  background: #0085ff;
  display: flex;
}
.footerLineStyle {
  position: absolute;
  width: 100%;
  height: 170px;
  margin-top: -11%;
  z-index: 1;
}
.footerTextPrimaryStyle {
  font-family: "Education";
  position: absolute;
  text-align: center;
  margin-top: 8%;
  z-index: 1;
  color: #ffff;
  font-size: 25px;
  font-weight: 750;
}
.footerTextAboutStyle {
  font-family: "Louise";
  position: absolute;
  margin-left: 1.4%;
  margin-top: 12%;
  color: #ffff;
  font-size: 15px;
  font-weight: 500;
}
.footerTextContactStyle {
  font-family: "Louise";
  position: absolute;
  margin-top: 12%;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.footerTextSecondaryStyle {
  display: grid;
  font-family: "Louise";
  position: absolute;
  margin-top: 12%;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.footerLinkStyle {
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.footerLogoStyle {
  font-family: "Education";
  position: absolute;
  margin-top: 7%;
  left: 1.5%;
  color: #ffff;
  text-align: Left;
  font-size: 35px;
  font-weight: 800;
  animation: pop-up 2s ease-in-out forwards;
}
.endBoxStyle {
  height: 6vh;
  justify-content: center;
  background: #192a56;
}
.endTextSecondaryStyle {
  font-family: "Louise";
  position: absolute;
  color: #ffff;
  margin-top: 14px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: 500;
}
.endLinkStyle {
  color: #ffff;
  left: 10%;
  font-size: 15px;
  font-weight: 500;
}

@keyframes pop-up {
  0% {
      opacity: 3;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}